@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.clearfix {
    clear: both;
}

.sub-heading {
    margin: 4px 0px 8px;
    font-style: italic;
    font-size: 1.4em;
}

.mat-form-field {
    margin: 4px 4px 4px 0px;
}

.mat-row:nth-child(even){
    background-color: lightgray;
}

.mat-row:nth-child(odd){
    background-color: white;
}